body {
    min-height: 100%;
    padding-top: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: lightblue;
}

header {
    padding-top: 50px;
    padding-left: 20px;
    font-size: 50px;
    text-align: center;
    font-family: sans-serif;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    color: #fff;
    text-shadow: -4px 4px #ef3550,
                 -8px 8px #f48fb1,
                 -12px 12px #7e57c2,
                 -16px 16px #2196f3,
                 -20px 20px #26c6da,
                 -24px 24px #43a047,
                 -28px 28px #eeff41,
                 -32px 32px #f9a825,
                 -36px 36px #ff5722;
  
}

.container {
    margin-top: 5vh;
    margin-bottom: 20px;
    width: 480px;
    height: 480px;
    display: flex;
    flex-wrap: wrap;
    outline: 3px solid rgba(0, 0, 0, 0.361);
    border-radius: 5px;
}

.grid-item {
    width: 15px;
    height: 15px;
    border: none;
    outline: 1px solid rgba(0, 0, 0, 0.069);
}

.edit-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-container > * {
    margin: 0 20px;
}

#clear {
    border-radius: 5px;
    width: 50px;
    height: auto;
}

#clear:hover {
    animation: squish-trash 1s forwards;
}

#eraser {
    width: 70px;
    height: auto;
    rotate: -35deg;
}

#eraser:hover {
    animation: rotate-eraser 500ms forwards;
}

#pen {
    width: 35px;
    rotate: 20deg;
}

#pen:hover {
    animation: rotate-pen 500ms forwards;
}

@keyframes squish-trash {
    0% {
        transform: scale3d(1, 1, 1);
    }
    50% {
        transform: scale3d(1.5, 0.3, 1);
    }
    100% {
        transform: scale3d(1, 1, 1);
    }
}

@keyframes rotate-eraser {
    0% {
        rotate: -35deg;
    }
    100% {
        rotate: 0deg;
    }
}

@keyframes rotate-pen {
    0% {
        rotate: 20deg;
    }
    100% {
        rotate: 60deg;
    }
}

#footer {
    position: absolute;
    bottom: 2vh;
}


#footer-text {
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.3309698879551821) 80%, rgba(255,255,255,0.8099614845938375) 100%);
    color: black;
    border-radius: 5px;
    padding: 4px;
    font-size: 12px;
}